.friend {
    background-color: #002b36;
    color: #93a1a1;
    font-family: Menlo,Monaco,"Andale Mono","lucida console","Courier New",monospace;
    padding: 9px;
}

.GamerScore {
	font-family: 'Voltaire', sans-serif;	
/*	font-family: 'Bubbler One', sans-serif;	
	font-family: 'Press Start 2P', cursive;
	font-family: 'Open Sans Condensed', sans-serif;	*/
	font-size:80px;	/* Press Start 2P: 40px	*/
	text-align:center;
	color: #555555;
	padding-left: 0px; 
	padding-right: 0px;
}